@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');

/*tlkio*/



body {
    margin: 0px;
    padding: 0px;
}

.header-avatar {
  display:none;
}
.nav-counter {
   display:none;
}

.header-status{
    display: none;
}


.nav {
  left: 0px;
  border-bottom: solid #101010;
  border-width: 1px 0px;
  height:56px;
}
.header .header-bar {
  background-color: #000;
  height: 56px;
 
}

[data-user-nickname~="hizyawizz"] {

  background-color: #181013 !important;
  padding: 15px 15px 15px 15px;
  font-size: 1.04em;
  line-height: 1.7;

}


.theme-picker-item[data-theme="theme--night"] {
 background-color:#26282c;
}
.theme--night {
 background-color:#26282c;
}

#theme-picker {
  display: none;
}

.theme--night::-webkit-scrollbar,
.theme--night ::-webkit-scrollbar {
 background-color:#000000;
 width: 4px;
}
.theme--night::-webkit-scrollbar-thumb,
.theme--night ::-webkit-scrollbar-thumb {
 background-color:#1b1b1b;
 width: 4px;
}
.button {
 color:#ffffff;
 border-color:#2c2c2c;
 background-color:#000;
 background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
 background-size:100%;
 background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.05)), color-stop(100%, rgba(255,255,255,0)));
 background-image:-moz-linear-gradient(top, rgba(255,255,255,0.05), rgba(255,255,255,0));
 background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.05), rgba(255,255,255,0));
 background-image:linear-gradient(to bottom, rgba(255,255,255,0.05), rgba(255,255,255,0));
 box-shadow:none;
}
.button:hover {
 background-color:#2c2c2c;
}
.button:active {
 background-color:#1a1c1e;
 box-shadow:none;
}

.tooltip {
 border-color:rgba(0,0,0,0.3);
 background-color:#31353a;
}
.button-down {
 background-color:#3d4148;
}
.button-down.show.new {
 box-shadow:0 0 0 2px #ffd500;
}
.input-text {
 color: #f2efef;
 border-color: #fff;
 background-color:#000;
 box-shadow: none;
 border-radius: 2px;
}
.input-text::-webkit-input-placeholder {
 color:rgba(255,255,255,0.3);
}
.input-text::-moz-placeholder {
 color:rgba(255,255,255,0.3);
}
.input-text:-ms-input-placeholder {
 color:rgba(255,255,255,0.3);
}
.header-bar {
 background-color:#000;
}
.header-icon {
 background-color:rgba(0,0,0,0.2);
}
.header-icon:hover {
 background-color:rgba(0,0,0,0.1);
}

.header-icon:active {
 background-color:rgba(0,0,0,0.3);
}

.header-channel {
 display: none;  
}

.chat {
color: #cccccc;
font-family: 'IBM Plex Mono', monospace;
font-weight: 300;
font-size: 13px;
line-height: 1.5;
padding-bottom: 100px;
}

.post-name {
 color:#8259ff;
 font-size: 10px;
 font-family: 'IBM Plex Mono', monospace;
 font-weight: 500;
 text-transform: uppercase;
}

.post {
  background-color: #000;
  border-color: #2c2c2c;
}

.post.me {
 background-color:#2d3034;
 color: #feea00;
}

.post-avatar {
 box-shadow:none;
}

.post-avatar--troll {
 color:rgba(255,255,255,0.3);
 background: #000000;
 font-size: 13px;
 font-weight: 500;
}

.time {
 color:#404040;
}

.post-time-dot {
 background-color:#404040;
}

.post-message.unread .post-time-dot {
 background-color:#000000;
}

.post-time-tag {
 border-color:rgba(0,0,0,0.4);
 background:#1f1f1f;
 font-size: 10px;
 text-transform: uppercase;
}

.chat code, .chat pre {
 color:#b8ad7a;
 border:1px solid rgba(0,0,0,0.2);
 background-color:#2a2922;
}

 .chat pre code {
 border:none;
}

.chat blockquote {
 color:#398fff;
 border:none;
 border-left:4px solid #398fff;
 background:#3d4148;
}

.chat hr {
 border-color:rgba(255,255,255,0.1);
}

.message-avatar {
 box-shadow:none;
}

.message-input {
    color: #fff;
    border-color: #2c2c2c;
    background-color: rgb(0 0 0);
    -webkit-font-smoothing: antialiased;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.022em;
    border-radius: 0px;
}

.message-input:hover {
 border-color:#fff;
 box-shadow: none;
 background-color: black;
}

.message-input:focus {
 border-color:#fff;
 background-color: black;
 box-shadow:none;
}

.message-input::-webkit-input-placeholder {
 color:rgba(255,255,255,0.3);
}

.message-input::-moz-placeholder {
 color:rgba(255,255,255,0.3);
}

.message-input:-ms-input-placeholder {
 color:rgba(255,255,255,0.3);
}

.join {
 color:#fff;
 border-color:rgba(0,0,0,0.3);
 background-color:#000;
 position: relative;
 bottom: 136px;
}

.join-hl {
 color:#999999;
}

.join-hint {
 color:#4d4d4d;
}

.aside {
background-color:#000;
left: 0;
width: 100%;
font-size: 13px;
font-family: 'IBM Plex Mono', monospace;
}

.post.me {
    background-color: #151515;
}

.aside {
left:0;
right: 1;
  -moz-transform: translate3d(-110%, 0, 0);
  -ms-transform: translate3d(-110%, 0, 0);
  -webkit-transform: translate3d(-110%, 0, 0);
  transform: translate3d(-110%, 0, 0);
}

.message-input {
   font-size: 16px;
}

.menu-item {
 border-color:rgba(0,0,0,0.4);
 background-color:#3d4148;
}


.menu-item:active {
 box-shadow:none;
}

.menu-item.isOn {
 border:1px solid #262626;
 border-left:none;
 box-shadow:none;
 background-color:#2a2d32;
}

.participants {
 color:#cccccc;
 border-color:rgba(225, 225, 225, 0.3);
 background-color:#000;
}

.counter {
 color:#666666;
 border-color:rgba(225, 225, 225, 0.3);
  background-color:#000;
}

.post:last-of-type, .post:first-of-type, .time+.post, .post.last-of-time {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

time.time {
    text-transform: uppercase;
    text-align: right;
}


.post-time-button{
    text-transform: uppercase;
    color: red;
}

post-time{
    cursor: cell;
}

.scrollButton{
    margin-bottom: 70px;
    background-color: #000000;
    border-radius: 0px;
    border-color: #fff;
    border-width: 1px;
    box-shadow: none;
    dispaly: none;
    z-index: -1;
}

.scrollButton.show{
    display:block;
    z-index: 1;
}

.scrollButton:hover{
background-color: #000000;
color: #feea00;
}

span.join-hl {
color: #ffffff;
font-family: 'IBM Plex Mono', monospace;
font-weight: 300;
font-size: 13px;
line-height: 1.5;
    
}

span.join-hl:after {
    content: " Enter your name and press enter :)";

}

.button-load.show {
    display: block;
    border-radius: 0px;
    color: #404040;
    border-color: #2c2c2c;
    font-size: 13px;
}

.button-load.show:hover{
    color:#fff;
    background-color: #000000;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
button#panel-button {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

button#panel-button svg{
    display: none;
}

button#panel-button {
    color: #fff;
    
}

button#panel-button:before {
   content: "menu";
}

body.showPanel button#panel-button {
   content: "close";
}

.footer-wrapper {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #000;
    height: 100px;
    border-top: solid #101010;
    border-width: 1px 0px;
}

.nav-button{
    padding: 16px;
}

.message-button--submit {
    display: block;
    background-color: #ff0 !important;
    padding: 10px 20px;
    border: initial;
    border-radius:0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 1px;
    color:#372079 !important;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
}
.message-button--submit::-moz-selection {
  background: initial  !important;
    color: #ff0 !important;
}
.message-button--submit::selection{
  background: initial !important;
    color: #ff0 !important;
}
